<!-- inspiration: https://codepen.io/efy/embed/RRRyJW?height=500&theme-id=178&slug-hash=RRRyJW&default-tab=result&user=efy&embed-version=2&pen-title=Flex%20Tournament%20Bracket&name=cp_embed_10#result-box -->

<!-- x = number of players -->
<!-- parent: repeat for 2^x + 1, flex horizontally -->
<!-- first child: x elements, flex vertically, space between -->
<!-- second child: x/2 elements, flex vertically, space between  -->
<!-- ... -->
<!-- 2^x + 1, 1 element, flex vertically, space between -->