<h1>
  Active Tournaments
</h1>

<div *ngIf="activeTournaments.length === 0">
  No shit here
</div>
<table *ngIf="activeTournaments.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Player per Team</th>
      <th>Team per Fight</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of activeTournaments">
      <td>{{item.name}}</td>
      <td>{{item.playerCount}}</td>
      <td>{{item.teamCount}}</td>
      <td>
        <a>
          ⚔️
        </a>
      </td>
    </tr>
  </tbody>
</table>

<h1>
  Pending Tournaments
</h1>

<div *ngIf="pendingTournaments.length === 0">
  No shit here
</div>
<table *ngIf="pendingTournaments.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Player per Team</th>
      <th>Team per Fight</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pendingTournaments">
      <td>{{item.name}}</td>
      <td>{{item.playerCount}}</td>
      <td>{{item.teamCount}}</td>
      <td>
        <a>
          🛡️
        </a>
      </td>
    </tr>
  </tbody>
</table>

<h1>Completed Tournaments</h1>

<div *ngIf="completedTournaments.length === 0">
  No shit here
</div>
<table *ngIf="completedTournaments.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Player per Team</th>
      <th>Team per Fight</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of completedTournaments">
      <td>{{item.name}}</td>
      <td>{{item.playerCount}}</td>
      <td>{{item.teamCount}}</td>
      <td>
        <a>
          🗺️
        </a>
      </td>
    </tr>
  </tbody>
</table>
