<h1>{{tournament?.name}}</h1>
<h4>Pending Tournament</h4>

<div *ngIf="tournament?.teams.length === 0">
  No teams have signed up
</div>
<table *ngIf="tournament?.teams.length > 0">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Player Names</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tournament?.teams">
      <td>{{item.teamName}}</td>
      <td>
        Jimbo Slice, Bobo
      </td>
    </tr>
  </tbody>
</table>

<h2>Add New Team</h2>

<form #form="ngForm">
  <bm-text [(ngModel)]="teamName" name="teamName" label="Team Name" [required]="true"></bm-text>
  <br />
  <bm-text [(ngModel)]="name" name="name" label="Player Name" [required]="true"></bm-text>
</form>
<br />
<button type="button" [disabled]="form.valid === false" (click)="addPlayer()">
  ➕ Add Team
</button>