<!-- {{tournament.name}} -->
<h1>Pending Tournament</h1>

<!-- <div *ngIf="activeTournaments.length === 0">
  No shit here
</div>
<table *ngIf="activeTournaments.length > 0">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Player Names</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of activeTournaments">
      <td>{{item.name}}</td>
      <td>{{item.playerNames.join()}}</td>
    </tr>
  </tbody>
</table> -->

<form #form="ngForm">
  <bm-text [(ngModel)]="teamName" name="teamName" label="Team Name" [required]="true"></bm-text>
  <br />
  <bm-text [(ngModel)]="name" name="name" label="Player Name" [required]="true"></bm-text>
</form>
<br />
<button type="button" [disabled]="form.valid === false" (click)="addPlayer()">
  ➕ Add Player
</button>
