header {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);

  nav {
    display: flex;
    padding: 1rem;
    justify-content: space-around;

    a {
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 0.25rem;
      color: black;

      &.active {
        background: black;
        color: white;
      }
    }
  }
}
